* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

#container {
    margin: auto auto;
    width: 50vw;
    height: 60vh;
}

#border {
    position: absolute;
    top: 20vh;
    left: 40vw;
    width: 20rem;
    height: 18rem;
    border: 5px solid #000;
    border-radius: 0%;
}

#switch-container {
    position: absolute;
    top: 65vh;
    left: 46vw;
}